.cover__image-caption {
  padding-top: 8px;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media screen and (max-width: 928px) {
  .cover__image-caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .cover__image-caption {
    padding-left: 16px;
  }
}
