.intro__heading {
  margin: 0 0 38px 0;
  font-size: 54px;
  font-weight: 900;
}

@media screen and (max-width: 720px) {
  .intro__heading  {
    font-size: 40px;
  }
}

@media screen and (max-width: 480px) {
  .intro__heading  {
    max-width: 217px;
    margin-bottom: 40px;
    font-size: 32px;
    line-height: 1.09;
  }
}
